<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="hleft">Coding Dojo Wall</div>
            <div class="hright">
                <div>
                    <p>Welcome, {{user.first_name}}</p>
                </div>
                <div>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="post">
            <form action="/dashboard/post" method="POST">
                <div>
                    <label for="content">Whats on your mind? Create a post:</label>
                </div>
                {%with messages = get_flashed_messages()%}
                    {%if messages%}
                        {%for message in messages%}
                            <p>{{message}}</p>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
                <div>
                    <textarea name="content"cols="30" rows="10"></textarea>
                </div>
                <input type="submit" value="Publish">
            </form>
        </div>
        <div class="wall">
            <p>All Community Posts</p>
            {%for i in all_posts%}
                <div class="posted_message">
                    <div>
                        <p>{{i[0].first_name}} - {{i[0].created_at}}</p>
                    </div>
                    <div class="message">
                        <p>{{i[1].content}}&nbsp;</p>
                        {%print(session_id)%}
                        {%print(i[0].id)%}
                        {%print(i[1].id)%}
                        <!-- i[0] == user -->
                        <!-- i[1] == post -->
                        {%if session_id == i[0].id%}
                        <a href="/delete/{{i[1].id}}"> Delete</a>
                        {%endif%}
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
</body>
</html>