<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="header">
                <h1>New Books</h1>
            </div>
            <form action="/add_book_submit" method="POST">
                <div class="books_form_left">
                    <label for="title" id="books_title_label">Title: </label>
                    <label for="num_of_pages">Number of pages: </label>
                </div>
                <div class="books_form_right">
                    <input type="text" name="title" id="books_title_input">
                    <input type="text" name="num_of_pages">
                    <input type="submit" value="Create" id="books_form_btn">
                </div>
            </form>
            <a id="home" href="/">Home</a>
        </div>
        <div class="right">
            <div class="header">
                <h1>All Books</h1>
            </div>
            <div class="right_content">
                {%for i in all_books%}
                    <a href="/book_show/{{i.id}}">{{i.title}}</a>
                {%endfor%}
            </div>
        </div>
    </div>
</body>
</html>