<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Validation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <form action="/process" method="POST">
                {%with messages = get_flashed_messages()%}
                    {%if messages%}
                    <h2>FLASH!!!</h2>
                        {%for message in messages%}
                            <p>{{message}}</p>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
                <label for="email_address">Email Address:</label>
                <input type="text" name="email_address">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>