* {
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.header{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.header_left{
    flex: 1;
}

.header_right{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.header_right a{
    display: flex;
    align-items: flex-end;
}

.content{
    display: flex;
    justify-content: space-around;
}

.post form{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
}

#publish_btn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#publish_btn input{
    border: 2px solid black;
    box-shadow: 2px 2px black;
    background-color: #2b78e4;
    color: white;
    width: 80px;
}

.flash{
    color: red;
    margin-left: 30px;
}

.wall{
    margin-top: 20px;
}

.wall h4{
    margin-bottom: 50px;
}

.message{
    display: flex;
    justify-content: space-between;
}

#message_content{
    margin-left: 30px;
}

#message_name{
    margin-bottom: 15px;
}

#delete_btn{
    height: 30px;
    width: 80px;
    background-color: #e06666;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}

.message button a{
    text-decoration: none;
    color: white;
}