<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
    <h1 style="display: flex;justify-content:center;margin-top: 100px;">Welcome!</h1>
    <div style="display:flex; justify-content:center; align-items:center; flex-wrap:wrap;">
        {% for i in range(0,num)%}
            <div style="background-color:{{color}};
            height:200px;
            width:200px;
            margin:20px;
            border:3px solid black;
            border-radius: 15px;">
            </div>
        {% endfor %}
    </div>
</body>
</html>